
.sectionOurServices{
  width: 100%;
  height:fit-content;

  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  position: relative;
  z-index: 2;
}
  
      .sectionOurServices .titleIndex{
          width: 100%;
  
          display: flex;
          justify-content: center;
  
          margin-bottom: 0;
          background-color: transparent;
      }
  
      .sectionOurServices .titleIndex h3{
        margin-bottom:6vh;

      }
  
    .sectionOurServices .services{
      width: 100%;
      height: 100%;
  
  
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 2%;
  
    } 
  
      .services .rowIndex{
        width: 85%;
        height: 47%;
  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2%;
  
      }
  
      .rowIndex .cardIndex{
        width:90% ;
        min-height: 55vh;
  
        display: flex;
        flex-direction: column;
        align-items: center;
  
        border: solid 2px #dddddd;
        background-color: #ffffff66;
        border-radius: 15px;
        padding-bottom: 20px;
        margin: 20px 0;

      }
  
      .headerIndex, .bodyIndex{
        width: 90%;
        margin: 0;
        padding: 0;
      }
  
      .headerIndex h4{
          margin-bottom: 4vh;
        }
  
      .bodyIndex .normalText{
        line-height: 30px;
        text-align: left;
        color: var(--neutral-color-grey-500);
        margin: 0;
      }





@media (max-width: 575.98px) and (min-height: 768px){ 
    
        .rowIndex .cardIndex{
          min-height: 40vh;
        }
    
        .bodyIndex .normalText{
          line-height: 35px;
        }

}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/*++++++++ Small devices (phones, landscape) +++++++++++ */
@media (min-width: 576px) and (max-width: 767.98px) and (min-height: 300px) and (max-height: 575.98px){ 

    .sectionOurServices .titleIndex{
        justify-content: center;
        margin-bottom: 0;
    }

    .rowIndex .cardIndex{
      height: 30vh;
    }

}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/*++++++++ Medium devices (tablets, portrait) ++++++++++ */
@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 300px) and (max-height: 575.98px) { 
  .sectionOurServices{
    margin-top: 40vh;
    margin-bottom: 10vh;

  }
  .sectionOurServices .services{
    flex-direction: row;
    justify-content: center;
  }

  .services .rowIndex{
    width: 45%;
  }
    .rowIndex .cardIndex{
      width:80% ;
      height: 74vh;

    }

}

@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 576px){
  .sectionOurServices{
    justify-content: flex-start;
    align-items: flex-start;

  }
    
      .sectionOurServices .services{
        flex-direction: row;
        align-items: flex-start;
        gap: 0;
        justify-content: center;

      } 
    
        .services .rowIndex{
          width: 48%;
          height: auto;
        
    
        }
    
        .rowIndex .cardIndex{
          width:90% ;
          max-height: 15vh;
    
        }

        .cardIndex .headerIndex{
          line-height: 4vh;
          margin-bottom: 0;
          max-height: 20vh;
        }

        .bodyIndex .normalText{
          line-height: 4vh;

        }

}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/*+++++++++ Large devices (tablets, landscape) ++++++++++*/
@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 600px) and (max-height: 1023.98px){ 
    
        .services .rowIndex{
          height: 50%;
          flex-direction: row;
          width: 92%;
        }
    
        .rowIndex .cardIndex{
          width:40% ;
          height: 42vh;
    
        }

        .cardIndex .headerIndex{
          line-height: 5vh;
        }

}


@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 1024px){
  .sectionOurServices{
    width: 100%;
    height:fit-content;

    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    position: relative;
    z-index: 2;
    margin: 0;


  }

    .sectionOurServices .titleIndex{
        width: 100%;

        display: flex;
        justify-content: center;

        margin-bottom: 0;
    }

    .sectionOurServices .titleIndex h3{
      margin-bottom:6vh;
    }

  .sectionOurServices .services{
    width: 100%;
    height: 100%;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;



  } 

    .services .rowIndex{
      width: 48%;
      height: 47%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 2%;


    }

    .rowIndex .cardIndex{
      width:90% ;
      height: 18vh;

      display: flex;
      flex-direction: column;
      align-items: center;

      border: solid 2px #dddddd;
      background-color: #ffffff66;
      border-radius: 15px;
      padding-bottom: 20px;
      margin: 20px 0;

    }

    .headerIndex, .bodyIndex{
      width: 90%;
      margin: 0;
      padding: 0;
    }

    .headerIndex h4{
        line-height: 3.5vh;
        margin-bottom: 4vh;
      }

    .normalText{
      line-height: 4vh!important;
      font-size: 34px;
    }

}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/* Extra large devices (small desktops and larger tablets) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    
        .services .rowIndex{
          width: 86%;
          height: 40%;
    
          flex-direction: row;
          justify-content: space-around;
          align-items: flex-start;

   
    
        }
    
        .rowIndex .cardIndex{
          width:26vw;
          min-height: 45vh;
    
        }


    
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/*++++++ XX-Large devices (large desktops and up) +++++++*/
@media (min-width: 1400px) { 
  .services .rowIndex{
    width: 80%;
    height: 40%;

    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 4%;

  }

  .rowIndex .cardIndex{
    width:24vw;
    min-height: 51vh;

  }

  .rowIndex .cardIndex p{
    line-height: 4vh;

  }

}