
    .bannerHeader{
        width: 100vw;
        height: 90vh;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    
        } 

        .bannerHeader .textContent{

            height: 60vh;
            padding-top: 20px;

            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

        }

            .textContent .text{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

    
            }
    
            h1,p{
                margin-left: 0px;
    
            }
    
            .text h1{
                width: 100%;
                line-height: 6vh;
            }
    
            .text p{
                width:95%;
                line-height: 4vh;
            }
    

        .graphicContent{
            display:none;

        }

        .puzzlePiece{
            position: absolute;
            width: 100vw;
            display: flex;

            bottom: -20vh;

            background-position: center;
            background-size: 60% auto;

        }

    


@media (max-width: 575.98px) and (min-height: 768px){
    .bannerHeader{
    min-height: 90vh;
    justify-content: flex-start;
    
    }
    
    
    .textContent{
        height: 50vh;
        padding-top: 20px;

        align-items: center;
    }


        .textContent .text{
            width: 90%;



        }

        .text h1{
            line-height: 5vh;
            margin-bottom: 8%;

        }

        .text p{
            width:95%;
            line-height: 3vh;
        }
    

    
    .graphicContent{
        display:none;
        width: 0;
        height: 0;
    }

    .puzzlePiece{
        background-position: center;
        background-size: 65% auto;
        bottom: -20vh;

    }
    
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/*++++++++ Small devices (phones, landscape) +++++++++++ */
@media (min-width: 576px) and (max-width: 767.98px) and (min-height: 300px) and (max-height: 575.98px){ 
    .bannerHeader{
        min-height: 140vh;
        justify-content: flex-start;
    
    }

    .textContent{
        height: 90vh;
        justify-content: center;
        margin-top: 0;
    }

    .textContent .text{
        justify-content: center;
    }


        .text p{
            line-height: 7vh;
        }

    
    
        .graphicContent{
            display: none;
        }

        .puzzlePiece{
            bottom:-55vh;
            background-size: 45% auto;

        }
    
    
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/*++++++++ Medium devices (tablets, portrait) ++++++++++ */
@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 300px) and (max-height: 575.98px) { 

    .bannerHeader{
        min-height: 200vh;
    }
    
    .bannerHeader .textContent{
        height: 80vh;
        
    }

        .text{
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 100%;
        }


        .text p{
            width:70%;
            line-height: 8vh;
        }
    

    
        .graphicContent{
            display: flex;
            width: 100%;
            height: 230vh;

            background-position: bottom center;
            background-size: 70% auto;
        }

        .puzzlePiece{
            position: absolute;
            width: 100vw;
            display: flex;

            bottom: -58vh;

            background-position: center;
            background-size: 30% auto;

        }

    
    
}

@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 576px){ 
   .bannerHeader{
    height: 110vh;

   }

   .bannerHeader .textContent{
    height: 80vh;
    margin-top: 0;
    width: 100%;
    align-items: center;

   }

   .textContent .text{
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    }

    .text h1{
        width: 80%;

    }

   .graphicContent{
    
    display: flex;
    width: 100%;

    background-position: center;
    background-size: 90% auto;
    }

    .puzzlePiece{
        bottom: -8vh;
        background-size: 40% auto;
    }

    
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */







/*+++++++++ Large devices (tablets, landscape) ++++++++++*/
@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 600px) and (max-height: 1023.98px){ 

    .bannerHeader{
        height: 140vh;
        justify-content: flex-start;
    }

        .bannerHeader .textContent{
            height: 80vh;
            width: 100vw;
            margin-top:0 ;
            justify-content: center;
            align-items: center;
        }

        .textContent .text{
            width: 80%;
        }
    

        .graphicContent{
            display: flex;
            width: 100%;
            height: 100%;

            background-position:center;
            background-size: 70% auto;
        }

        .puzzlePiece{
            bottom: -16vh;
            background-size: 25% auto;
        }





}

@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 1024px){
    .bannerHeader{
        height: 100vh;
        margin-bottom: 0px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
        .textContent{
            height: 140vh;
            width: 100%;
            padding-top: 20px;
            justify-content: flex-end;
            align-items: flex-end;

        } 

        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 80%;
        }


        h1,p{
            margin-left: 0px;

        }

        .text h1{
            width: 80%;
            line-height: 6vh;
            margin-top: 10vh;
        }

        .text p{
            width:70%;
            line-height: 3vh;

        }
    
    
        .graphicContent{
            display: flex;
            width: 100%;
            height: 100%;

            background-position: center;
            background-size: 100% auto;
        }

       .puzzlePiece{
            bottom: -42vh;
            background-position: top center;
            background-size: auto 24%;


        }

}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/* Extra large devices (small desktops and larger tablets) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .bannerHeader{
        height: 140vh;
        justify-content: flex-start;
    }

        .bannerHeader .textContent{
            height: 80vh;
            width: 100vw;
            margin-top:0 ;
            justify-content: center;
            align-items: center;
        }

        .textContent .text{
            width: 75%;
        }
    

        .graphicContent{
            display: flex;
            width: 100%;
            height: 100%;

            background-position:center;
            background-size: 70% auto;
        }

        .puzzlePiece{
            bottom: -16vh;
            background-size: 25% auto;
        }

}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */





/*++++++ XX-Large devices (large desktops and up) +++++++*/
@media (min-width: 1400px) {
    .bannerHeader{
        height: 140vh;
        justify-content: flex-start;
    }

        .bannerHeader .textContent{
            height: 80vh;
            width: 100vw;
            margin-top:0 ;
            justify-content: center;
            align-items: center;
        }

        .textContent .text{
            width: 80%;
            display: flex;
            flex-direction: column;

        }

        .textContent .text p{
            width: 70%;

        }
    

        .graphicContent{
            display: flex;
            width: 100%;
            height: 100%;

            background-position:center;
            background-size: 60% auto;
        }

        .puzzlePiece{
            bottom: -16vh;
            background-size: 25% auto;
        }
}