
            
/*++++++++ Extra small devices (phones, portrait) ++++++*/
@media (max-width: 575.98px) and (max-height: 767.98px){
    footer{
        width: 100vw;
        min-height: 40vh;

        font-display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        background-color: var(--neutral-color-grey-800);

    }


    footer .footerContent{
        display: none;
    }

    footer .copyright{
        display: none;
    }

    footer .mobileFooter{
        width: 100vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 0;
        padding-bottom: 0;

    }

    footer .mobileFooter .socialMedia{
        width: 100%;
        height: 16vh;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .socialMedia .iconsContainer{
        width: 85%;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;

    }


    .iconsContainer a{
        width: 20%;
        height: 100%;

        display: flex;
        justify-content: center;
    }

    .socialMedia .iconsContainer a .icon{
        width: 40%;
        height: auto;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--neutral-color-grey-100);
    }

    .socialMedia .end{
        display: flex;
        text-align: center;


    }

}

@media (max-width: 575.98px) and (min-height: 768px){
    footer{
        width: 100vw;
        height: 20vh;

        font-display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        background-color: var(--neutral-color-grey-800);

    }


    footer .footerContent{
        display: none;
    }

    footer .copyright{
        display: none;
    }

    footer .mobileFooter{
        width: 100vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 0;
        padding-bottom: 0;
        background-color: var(--neutral-color-grey-800);

    }

    footer .mobileFooter .socialMedia{
        width: 100%;
        height: 12vh;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .socialMedia .iconsContainer{
        width: 85%;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;

    }


    .iconsContainer a{
        width: 20%;
        height: 100%;

        display: flex;
        justify-content: center;
    }

    .socialMedia .iconsContainer a .icon{
        width: 40%;
        height: auto;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--neutral-color-grey-100);
    }

    .socialMedia .end{
        display: flex;
        text-align: center;


    }


}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/*++++++++ Small devices (phones, landscape) +++++++++++ */
@media (min-width: 576px) and (max-width: 767.98px) and (min-height: 300px) and (max-height: 575.98px){ 
    footer{
        width: 100vw;
        height: 35vh;

        font-display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        background-color: var(--neutral-color-grey-800);

    }


    footer .footerContent{
        display: none;
    }

    footer .copyright{
        display: none;
    }

    footer .mobileFooter{
        width: 100vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 0;
        padding-bottom: 0;
        background-color: var(--neutral-color-grey-800);

    }

    footer .mobileFooter .socialMedia{
        width: 100%;
        height: 35vh;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .socialMedia .iconsContainer{
        width: 85%;
        height: 13vh;

        display: flex;
        justify-content: center;
        align-items: center;

    }


    .iconsContainer a{
        width: 20%;
        height: 80%;

        display: flex;
        justify-content: center;
    }

    .socialMedia .iconsContainer a .icon{
        width: 25%;
        height: auto;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--neutral-color-grey-100);
    }

    .socialMedia .end{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;

    }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/*++++++++ Medium devices (tablets, portrait) ++++++++++ */
@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 300px) and (max-height: 575.98px) { 
    footer{
        width: 100vw;
        height: 35vh;

        font-display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        background-color: var(--neutral-color-grey-800);

    }


    footer .footerContent{
        display: none;
    }

    footer .copyright{
        display: none;
    }

    footer .mobileFooter{
        width: 100vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 0;
        padding-bottom: 0;
        background-color: var(--neutral-color-grey-800);

    }

    footer .mobileFooter .socialMedia{
        width: 100%;
        height: 35vh;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .socialMedia .iconsContainer{
        width: 85%;
        height: 14vh;

        display: flex;
        justify-content: center;
        align-items: center;

    }


    .iconsContainer a{
        width: 20%;
        height: 70%;

        display: flex;
        justify-content: center;
    }

    .socialMedia .iconsContainer a .icon{
        width: 20%;
        height: auto;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--neutral-color-grey-100);
    }

    .socialMedia .end{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;

    }

}

@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 576px){ 
    footer{
        width: 100vw;
        height: 30vh;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        background-color: var(--neutral-color-grey-800);

    }


    footer .footerContent{
        display: none;
    }

    footer .copyright{
        display: none;
    }

    footer .mobileFooter{
        width: 100vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 0;
        padding-bottom: 0;
        background-color: var(--neutral-color-grey-800);

    }

    footer .mobileFooter Dropdown {
        font-size: 16px;
    }




    footer .mobileFooter .socialMedia{
        width: 100%;
        height: 18vh;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .socialMedia .iconsContainer{
        width: 85%;
        height: 10vh;

        display: flex;
        justify-content: center;
        align-items: center;

    }


    .iconsContainer a{
        width: 25%;
        height: 46%;

        display: flex;
        justify-content: center;
    }

    .socialMedia .iconsContainer a .icon{
        width: 25%;
        height: auto;
        padding: 4px;
        border-radius: 50%;
        background-color: var(--neutral-color-grey-100);
    }

    .socialMedia .end{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;

    }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/*+++++++++ Large devices (tablets, landscape) ++++++++++*/
@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 600px) and (max-height: 1023.98px){ 
    footer{
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    }

   footer .footerContent{
        height:fit-content;
        width: 100vw;

        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0;

        gap: 0px;
        background-color: var(--neutral-color-grey-100);


    }

        .footerContent .sectionA{
            width: 36vw;
            height: 40%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            position: relative;
            margin-top: 0;

       }
            
           .sectionA h2{
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 0;
                margin-left: 10%;
                color: var(--neutral-color-grey-800);
            }


            .cardContainer {
                width: 90%;
                height: 40vh;
                perspective: 1000px;
              }
              
           .flipCard {
                width: 100%;
                height: 100%;
                position: relative;
                transform-style: preserve-3d;
                transition: transform 0.6s ease-in-out;
              }
              
             .flipCard.flipped {
                transform: rotateY(180deg); 
              }
              
              .locationOfficeDR,
              .locationOfficePanama {
                width: 90%;
                height: 100%;
                
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;

                margin-top: 3vh;
                backface-visibility: hidden;

              }
              
              .locationOfficePanama {
                transform: rotateY(180deg); 
              }

              .locationOfficeDR{
                left: 8%;
              }

              .officeLocationMaps{
                width: 60%;
                margin-left: 20%;
                margin-top: 4%;
              }


              .mapa{
                width: 100%;
                height: 60vh!important;

              }

              .cardContainer p{
                font-size: 18px;
                margin-left: 4%;
              }
              
                .cardContainer .buttonsFooter{
                    display: flex;
                    position: absolute;
                    width: 90%;
                    justify-content: flex-end;
                    align-items: flex-start;
                    gap: 4%;
                    top: 0vh;
                    left: 0vw;


                }

                    .buttonsFooter button{
                        width: fit-content;
                        height: 40px;
                        position: relative;
                        color: var(--neutral-color-grey-500);
                        font-size: 16px;
                        display: block;
                        border: none;
                        background-color: transparent;
                    }

                    .buttonsFooter button.selected span{
                        padding-top: 2px;
                        background-repeat: no-repeat;
                        background-image: linear-gradient(120deg, var(--orange) 0%, var(--darkOrange) 40%);
                        background-size: 100% 0.3em;
                        background-position: 100% 120%;
                        color: var(--neutral-color-grey-600);
                        font-weight: 500;
            
                    }
            
        .section{
            width: 22vw;
            height: 46vh;

            display: flex;
            flex-direction: column;
            padding: 0 6px;
            position: relative;

        }

            .section .title{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 0;

            margin-bottom: 0;
            }

            .title h2{
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 1%;
                margin-left: 0%;
                color: var(--neutral-color-grey-800);
                
            }

                .links{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                }

                    .links a,p{
                        color: var(--neutral-color-grey-600);
                        font-size: 18px;
                        margin-bottom: 10%;
                    }

                    .links p{
                        font-family: (--fontFamily-roboto);
                        font-size: 16px;
                    }

                    .links a:hover{
                        color: var(--primary-color-yellow-900);
                        font-weight: 600;
                     }
            

            .socialMedia{
                width: 100%;
                height: 10%;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative; 

                gap: 10px;
                position: absolute;
                z-index: 3;

                top: 86%;

            }

                .socialMedia .socialMediaLogo{
                    height: 50%;
                    opacity: 30%;
                }

                .socialMedia .socialMediaLogo img{
                    width: 32px;
                }

                .socialMedia .socialMediaLogo:hover {
                transform: scale(1.1);
                opacity: 60%;
                transition: transform 250ms;
                }


    .copyright{
        height: 5vh;
        width: 100vw;

        display: flex;
        justify-content: center;
        align-items:center;

        border-top: solid 3px var(--neutral-color-grey-900);
        background-color: var(--neutral-color-grey-800);

        color: rgb(225, 225, 225);
    }

    .mobileFooter{
        display: none;
        height: 0;
        width: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 1024px){
    footer{
        width: 100vw;
        height: 30vh;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        background-color: var(--neutral-color-grey-800);

    }


    footer .footerContent{
        display: none;
    }

    footer .copyright{
        display: none;
    }

    footer .mobileFooter{
        width: 100vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 0;
        padding-bottom: 0;
        background-color: var(--neutral-color-grey-800);

    }

    footer .mobileFooter .socialMedia{
        width: 100%;
        height: 15vh;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .socialMedia .iconsContainer{
        width: 85%;
        height: 8vh;

        display: flex;
        justify-content: center;
        align-items: center;

    }


    .iconsContainer a{
        width: 25%;
        height: 46%;

        display: flex;
        justify-content: center;
    }

    .socialMedia .iconsContainer a .icon{
        width: 20%;
        height: auto;
        padding: 4px;
        border-radius: 50%;
        background-color: var(--neutral-color-grey-100);
    }

    .socialMedia .end{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        color: white;
        font-size: 18px;

    }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */






/* Extra large devices (small desktops and larger tablets) */

@media (min-width: 1200px) and (max-width: 1399.98px) {
    footer{
        min-height: 20vh;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        position: relative;
        overflow: hidden;
        }
    
       footer .footerContent{
            height:fit-content;
            width: 100vw;
    
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0;
    
            gap: 0%;
            background-color: var(--neutral-color-grey-100);
    
    
        }
    
            .footerContent .sectionA{
                width: 35vw;
                height: 100%;
    
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                position: relative;
                margin-top: 0;


           }
                
                h2{
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 0;
                    margin-left: 10%;
                    color: var(--neutral-color-grey-800);
                }
    
               .sectionA .cardContainer{
                    width: 25vw;
                    height: 34vh;
                    
                    perspective: 1000px;

                }
    
                  
               .flipCard {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transform-style: preserve-3d;
                    transition: transform 0.6s ease-in-out;
                  }
                  
                 .flipCard.flipped {
                    transform: rotateY(180deg); 
                  }
                  
                  .locationOfficeDR,
                  .locationOfficePanama {
                    width: 95%;
                    height: 100%;
                    
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
    
                    margin-top: 2vh;
                    backface-visibility: hidden;

    
                  }
                  
                  .locationOfficePanama {
                    transform: rotateY(180deg); 
                  }
    
                  .locationOfficeDR{
                    left: 0%;
                  }
    
                  .officeLocationMaps{
                    width: 60%;
                    margin-left: 0%;
                    margin-top: 0%;
                  }
    
    
                  .mapa{
                    width: 90%;
                    height: 20vh!important;
    
                  }
    
                  .cardContainer p{
                    font-size: 20px!important;
                    margin-left: 4%;
                  }
                  
                    .cardContainer .buttonsFooter{
                        display: flex;
                        position: absolute;
                        width: 100%;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 0%;
                        top: -1vh;
                        left: 0vw;

                    }
    
                        .buttonsFooter button{
                            width: fit-content;
                            height: 40px;
                            position: relative;
                            color: var(--neutral-color-grey-500);
                            font-size: 20px;
                            display: block;
                            border: none;
                            background-color: transparent;
                        }

                        .buttonsFooter button:first-child{
                            width: 21vw!important;
                        }
    
                        .buttonsFooter button.selected span{
                            padding-top: 2px;
                            background-repeat: no-repeat;
                            background-image: linear-gradient(120deg, var(--orange) 0%, var(--darkOrange) 40%);
                            background-size: 100% 0.3em;
                            background-position: 100% 120%;
                            color: var(--neutral-color-grey-600);
                            font-weight: 500;
                
                        }
                
            .section{
                width: 28vw;
                height: 38vh;
    
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                position: relative;


            }
    
                .section .title{
                display: flex;
                width: 100%;
                align-items: flex-start;
                margin-top: 0px;
    
                margin-bottom: 0;
                margin-top: 10px;
                }
    
                .title h2{
                    margin-bottom: 6%;
                    
                }
    
                    .links{
                        width: 90%;
                        height: 20%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;

    
                    }
    
                        .links a,p{
                            color: var(--neutral-color-grey-600);
                            font-size: 20px;
                            margin-bottom: 10%;
                        }
    
                        .links p{
                            font-family: (--fontFamily-roboto);
                            font-size: 16px!important;
                        }
    
                        .links a:hover{
                            color: var(--primary-color-yellow-900)!important;
                            font-weight: 600;
                         }

                
    
                .socialMedia{
                    width: 100%;
                    height: 10%;
    
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    position: relative; 
                    padding-right: 2vw;
    
                    gap: 10px;
                    position: absolute;
                    z-index: 3;
    
                    top: 86%;

    
                }
    
                    .socialMedia .socialMediaLogo{
                        height: 50%;
                        opacity: 30%;
                    }
    
                    .socialMedia .socialMediaLogo img{
                        width: 32px;
                    }
    
                    .socialMedia .socialMediaLogo:hover {
                    transform: scale(1.1);
                    opacity: 60%;
                    transition: transform 250ms;
                    }
    
    
        footer .copyright{
            height: 20%;
            width: 100vw;
    
            display: flex;
            justify-content: center;
            align-items:center;
    
            border-top: solid 3px var(--neutral-color-grey-900);
            background-color: var(--neutral-color-grey-800);
    
            color: rgb(225, 225, 225);
        }
    
        .mobileFooter{
            display: none;
            height: 0;
            width: 0;
        }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/*++++++ XX-Large devices (large desktops and up) +++++++*/
@media (min-width: 1400px) {
    footer{
        min-height: 45vh;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        position: relative;
        overflow: hidden;
        margin-bottom: 0;
        }
    
       footer .footerContent{
            height:fit-content;
            width: 100vw;
    
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0;
    
            gap: 2%;
            background-color: var(--neutral-color-grey-100);
    
    
        }
    
            .footerContent .sectionA{
                width: 30vw;
                height: 100%;
    
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                position: relative;
                margin-top: 0;


           }
                
               .sectionA h2{
                    font-size: 26px;
                    font-weight: 500;
                    margin-bottom: 0;
                    margin-left: 4%;
                    color: var(--neutral-color-grey-800);
                }
    
               .sectionA .cardContainer{
                    width: 90%;
                    height: 36vh;
                    
                    perspective: 1000px;
                }
    
                  
               .flipCard {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transform-style: preserve-3d;
                    transition: transform 0.6s ease-in-out;
                  }
                  
                 .flipCard.flipped {
                    transform: rotateY(180deg); 
                  }
                  
                  .locationOfficeDR,
                  .locationOfficePanama {
                    width: 95%;
                    height: 100%;
                    
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    bottom: 0;
    
                    margin-top: 6vh;
                    backface-visibility: hidden;


    
                  }
                  
                  .locationOfficePanama {
                    transform: rotateY(180deg); 
                  }
    
                  .locationOfficeDR{
                    left: 0%;
                  }
    
                  .officeLocationMaps{
                    width: 60%;
                    margin-left: 0%;
                    margin-top: 0%;
                  }
    
    
                  .mapa{
                    width: 80%;
                    height: 20vh!important;
                    position: relative;

                  }

                  
    
                  .cardContainer p{
                    width: 80%;
                    font-size: 20px!important;
                    margin-left: 4%;
                  }
                  
                    .cardContainer .buttonsFooter{
                        display: flex;
                        position: absolute;
                        width: 100%;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 4%;
                        top: 0vh;
                        left: 0vw;


                    }
    
                        .buttonsFooter button{
                            width: fit-content;
                            height: 40px;
                            position: relative;
                            color: var(--neutral-color-grey-500);
                            font-size: 20px;
                            display: block;
                            border: none;
                            background-color: transparent;
                        }

                        .buttonsFooter button:first-child{
                            width: 13vw!important;
                        }
    
                        .buttonsFooter button.selected span{
                            padding-top: 2px;
                            background-repeat: no-repeat;
                            background-image: linear-gradient(120deg, var(--orange) 0%, var(--darkOrange) 40%);
                            background-size: 100% 0.3em;
                            background-position: 100% 120%;
                            color: var(--neutral-color-grey-600);
                            font-weight: 500;
                
                        }
                
            .section{
                width: 20vw;
                height: 41vh;
    
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0 4px;
                position: relative;

            }
    
                .section .title{
                display: flex;
                align-items: flex-start;
                margin-top: 0px;
    
                margin-bottom: 0;
                margin-top: 10px;
                }
    
                .title h2{
                    margin-bottom: 5%;
                    
                }
    
                    .links{
                        width: 100%;
                        height: 20%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
    
                    }
    
                        .links a{
                            color: var(--neutral-color-grey-600);
                            font-size: 22px;
                            margin-bottom: 10%;
                        }
    
                        .links p{
                            color: var(--neutral-color-grey-600);
                            font-family: (--fontFamily-roboto);
                            font-size: 20px!important;
                        }
    
                        .links a:hover{
                            color: var(--primary-color-yellow-900)!important;
                            font-weight: 600;
                         }

                         .footerText:hover{
                            color: var(--primary-color-yellow-900);
                            font-weight: 600;
                         }
                
    
                .socialMedia{
                    width: 100%;
                    height: 10%;
    
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    position: relative; 
    
                    gap: 10px;
                    position: absolute;
                    z-index: 3;
    
                    top: 86%;
    
                }
    
                    .socialMedia .socialMediaLogo{
                        height: 50%;
                        opacity: 30%;
                    }
    
                    .socialMedia .socialMediaLogo img{
                        width: 32px;
                    }
    
                    .socialMedia .socialMediaLogo:hover {
                    transform: scale(1.1);
                    opacity: 60%;
                    transition: transform 250ms;
                    }
    
    
        .copyright{
            height: 5%;
            width: 100vw;
    
            display: flex;
            justify-content: center;
            align-items:flex-end;

            margin-bottom: 0;
            overflow: hidden;
    
            border-top: solid 3px var(--neutral-color-grey-900);
            background-color: var(--neutral-color-grey-800);
    
            color: rgb(225, 225, 225);
        }

        .copyright h5{
            line-height: 0;
        }
    
        .mobileFooter{
            display: none;
            height: 0;
            width: 0;
        }
}




