/*++++++++ Extra small devices (phones, portrait) ++++++*/
@media (max-width: 575.98px) and (max-height: 767.98px){
    footer{
        width: 100vw;
        min-height: 40vh;

        font-display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        background-color: var(--neutral-color-grey-800);

    }


    footer .footerContent{
        display: none;
    }

    footer .copyright{
        display: none;
    }

    footer .mobileFooter{
        width: 100vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 0;
        padding-bottom: 0;

    }

    footer .mobileFooter .socialMedia{
        width: 100%;
        height: 16vh;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .socialMedia .iconsContainer{
        width: 85%;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;

    }


    .iconsContainer a{
        width: 20%;
        height: 100%;

        display: flex;
        justify-content: center;
    }

    .socialMedia .iconsContainer a .icon{
        width: 40%;
        height: auto;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--neutral-color-grey-100);
    }

    .socialMedia .end{
        display: flex;
        text-align: center;


    }

}

@media (max-width: 575.98px) and (min-height: 768px){
    footer{
        width: 100vw;
        height: 20vh;

        font-display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        background-color: var(--neutral-color-grey-800);

    }


    footer .footerContent{
        display: none;
    }

    footer .copyright{
        display: none;
    }

    footer .mobileFooter{
        width: 100vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 0;
        padding-bottom: 0;
        background-color: var(--neutral-color-grey-800);

    }

    footer .mobileFooter .socialMedia{
        width: 100%;
        height: 12vh;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .socialMedia .iconsContainer{
        width: 85%;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;

    }


    .iconsContainer a{
        width: 20%;
        height: 100%;

        display: flex;
        justify-content: center;
    }

    .socialMedia .iconsContainer a .icon{
        width: 40%;
        height: auto;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--neutral-color-grey-100);
    }

    .socialMedia .end{
        display: flex;
        text-align: center;


    }


}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/*++++++++ Small devices (phones, landscape) +++++++++++ */
@media (min-width: 576px) and (max-width: 767.98px) and (min-height: 300px) and (max-height: 575.98px){ 
    footer{
        width: 100vw;
        height: 35vh;

        font-display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        background-color: var(--neutral-color-grey-800);

    }


    footer .footerContent{
        display: none;
    }

    footer .copyright{
        display: none;
    }

    footer .mobileFooter{
        width: 100vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 0;
        padding-bottom: 0;
        background-color: var(--neutral-color-grey-800);

    }

    footer .mobileFooter .socialMedia{
        width: 100%;
        height: 35vh;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .socialMedia .iconsContainer{
        width: 85%;
        height: 13vh;

        display: flex;
        justify-content: center;
        align-items: center;

    }


    .iconsContainer a{
        width: 20%;
        height: 80%;

        display: flex;
        justify-content: center;
    }

    .socialMedia .iconsContainer a .icon{
        width: 25%;
        height: auto;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--neutral-color-grey-100);
    }

    .socialMedia .end{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;

    }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/*++++++++ Medium devices (tablets, portrait) ++++++++++ */
@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 300px) and (max-height: 575.98px) { 
    footer{
        width: 100vw;
        height: 35vh;

        font-display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        background-color: var(--neutral-color-grey-800);

    }


    footer .footerContent{
        display: none;
    }

    footer .copyright{
        display: none;
    }

    footer .mobileFooter{
        width: 100vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 0;
        padding-bottom: 0;
        background-color: var(--neutral-color-grey-800);

    }

    footer .mobileFooter .socialMedia{
        width: 100%;
        height: 35vh;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .socialMedia .iconsContainer{
        width: 85%;
        height: 14vh;

        display: flex;
        justify-content: center;
        align-items: center;

    }


    .iconsContainer a{
        width: 20%;
        height: 70%;

        display: flex;
        justify-content: center;
    }

    .socialMedia .iconsContainer a .icon{
        width: 20%;
        height: auto;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--neutral-color-grey-100);
    }

    .socialMedia .end{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;

    }

}

@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 576px){ 
    footer{
        width: 100vw;
        height: 30vh;

        font-display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        background-color: var(--neutral-color-grey-800);

    }


    footer .footerContent{
        display: none;
    }

    footer .copyright{
        display: none;
    }

    footer .mobileFooter{
        width: 100vw;
        height: fit-content;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 0;
        padding-bottom: 0;
        background-color: var(--neutral-color-grey-800);

    }

    footer .mobileFooter Dropdown{
        font-size: 16px;
    }


    footer .mobileFooter .socialMedia{
        width: 100%;
        height: 18vh;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .socialMedia .iconsContainer{
        width: 85%;
        height: 10vh;

        display: flex;
        justify-content: center;
        align-items: center;

    }


    .iconsContainer a{
        width: 25%;
        height: 46%;

        display: flex;
        justify-content: center;
    }

    .socialMedia .iconsContainer a .icon{
        width: 25%;
        height: auto;
        padding: 4px;
        border-radius: 50%;
        background-color: var(--neutral-color-grey-100);
    }

    .socialMedia .end{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;

    }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/*+++++++++ Large devices (tablets, landscape) ++++++++++*/
@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 600px) and (max-height: 1023.98px){ 
    footer{
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    }

   footer .footerContent{
        height:fit-content;
        width: 100vw;

        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0;

        gap: 0px;
        background-color: var(--neutral-color-grey-100);


    }

        .footerContent .sectionA{
            width: 36vw;
            height: 40%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            position: relative;
            margin-top: 0;

       }
            
           .sectionA h2{
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 0;
                margin-left: 10%;
                color: var(--neutral-color-grey-800);
            }

           .sectionA .cardContainer{
                width: 85%;
                height: 50vh;
                
                perspective: 1000px;
            }

            .cardContainer {
                width: 90%;
                height: 34vh;
                perspective: 1000px;
              }
              
           .flipCard {
                width: 100%;
                height: 100%;
                position: relative;
                transform-style: preserve-3d;
                transition: transform 0.6s ease-in-out;
              }
              
             .flipCard.flipped {
                transform: rotateY(180deg); 
              }
              
              .locationOfficeDR,
              .locationOfficePanama {
                width: 90%;
                height: 100%;
                
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;

                margin-top: 3vh;
                backface-visibility: hidden;

              }
              
              .locationOfficePanama {
                transform: rotateY(180deg); 
              }

              .locationOfficeDR{
                left: 8%;
              }

              .officeLocationMaps{
                width: 60%;
                margin-left: 20%;
                margin-top: 4%;
              }


              .mapa{
                width: 100%;
                height: 60vh!important;

              }

              .cardContainer p{
                font-size: 18px;
                margin-left: 4%;
              }
              
                .cardContainer .buttonsFooter{
                    display: flex;
                    position: absolute;
                    width: 100%;
                    justify-content: flex-end;
                    align-items: flex-start;
                    gap: 4%;
                    top: 0vh;
                    left: 0vw;

                }

                    .buttonsFooter button{
                        width: fit-content;
                        height: 40px;
                        position: relative;
                        color: var(--neutral-color-grey-500);
                        font-size: 16px;
                        display: block;
                        border: none;
                        background-color: transparent;
                    }

                    .buttonsFooter button.selected span{
                        padding-top: 2px;
                        background-repeat: no-repeat;
                        background-image: linear-gradient(120deg, var(--orange) 0%, var(--darkOrange) 40%);
                        background-size: 100% 0.3em;
                        background-position: 100% 120%;
                        color: var(--neutral-color-grey-600);
                        font-weight: 500;
            
                    }
            
        .section{
            width: 20vw;
            height: 55vh;

            display: flex;
            flex-direction: column;
            padding: 0 6px;
            position: relative;

        }

            .section .title{
            display: flex;
            align-items: flex-start;
            margin-top: 4vh;

            margin-bottom: 0;
            }

            .title h2{
                margin-bottom: 5%;
            }

                .links{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                }

                    .links a,p{
                        color: var(--neutral-color-grey-600);
                        font-size: 18px;
                        margin-bottom: 10%;
                    }

                    .links p{
                        font-family: (--fontFamily-roboto);
                        font-size: 16px;
                    }

                    .links a:hover{
                        color: var(--primary-color-yellow-900);
                        font-weight: 600;
                     }
            

            .socialMedia{
                width: 100%;
                height: 10%;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative; 

                gap: 10px;
                position: absolute;
                z-index: 3;

                top: 86%;

            }

                .socialMedia .socialMediaLogo{
                    height: 50%;
                    opacity: 30%;
                }

                .socialMedia .socialMediaLogo img{
                    width: 32px;
                }

                .socialMedia .socialMediaLogo:hover {
                transform: scale(1.1);
                opacity: 60%;
                transition: transform 250ms;
                }


    footer .copyright{
        height: 20%;
        width: 100vw;

        display: flex;
        justify-content: center;
        align-items:center;

        border-top: solid 3px var(--neutral-color-grey-900);
        background-color: var(--neutral-color-grey-800);

        color: rgb(225, 225, 225);
    }

    .mobileFooter{
        display: none;
        height: 0;
        width: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 1024px){
    footer{
        min-height: 35vh;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        position: relative;
        overflow: hidden;
        }
    
       footer .footerContent{
            height:fit-content;
            width: 100vw;
    
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0;
    
            gap: 2%;
            background-color: var(--neutral-color-grey-100);
    
    
        }
    
            .footerContent .sectionA{
                width: 40vw;
                height: 100%;
    
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                position: relative;
                margin-top: 0;

           }
                
               .sectionA h2{
                    font-size: 32px;
                    font-weight: 400;
                    margin-bottom: 0;
                    margin-left: 10%;
                    color: var(--neutral-color-grey-800);
                }
    
               .sectionA .cardContainer{
                    width: 100%;
                    height: 35vh;
                    
                    perspective: 1000px;

                }
    
                  
               .flipCard {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transform-style: preserve-3d;
                    transition: transform 0.6s ease-in-out;
                  }
                  
                 .flipCard.flipped {
                    transform: rotateY(180deg); 
                  }
                  
                  .locationOfficeDR,
                  .locationOfficePanama {
                    width: 95%;
                    height: 100%;
                    
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
    
                    margin-top: 1vh;
                    backface-visibility: hidden;
    
                  }

                  
                  .locationOfficePanama {
                    transform: rotateY(180deg); 
                  }
    
                  .locationOfficeDR{
                    left: 0%;
                  }
    
                  .officeLocationMaps{
                    width: 60%;
                    margin-left: 0%;
                    margin-top: 0%;
                  }
    
    
                  .mapa{
                    width: 100%;
                    margin-bottom: 10%;
    
                  }
    
                  .cardContainer p{
                    font-size: 20px!important;
                    margin-left: 4%;
                  }
                  
                    .cardContainer .buttonsFooter{
                        display: flex;
                        position: absolute;
                        width: 100%;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 4%;
                        top: 0vh;
                        left: 0vw;

    
                    }
    
                        .buttonsFooter button{
                            width: fit-content;
                            height: 40px;
                            position: relative;
                            color: var(--neutral-color-grey-500);
                            font-size: 20px;
                            display: block;
                            border: none;
                            background-color: transparent;
                        }
    
                        .buttonsFooter button.selected span{
                            padding-top: 2px;
                            background-repeat: no-repeat;
                            background-image: linear-gradient(120deg, var(--orange) 0%, var(--darkOrange) 40%);
                            background-size: 100% 0.3em;
                            background-position: 100% 120%;
                            color: var(--neutral-color-grey-600);
                            font-weight: 500;
                
                        }
                
            .section{
                width: 20vw;
                height: 36vh;
    
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0 4px;
                position: relative;

            }
    
                .section .title{
                display: flex;
                align-items: flex-start;
                margin-top: 0px;
    
                margin-bottom: 0;
                margin-top: 10px;
                }
    
                .title h2{
                    margin-bottom: 4%;
                    
                }
    
                    .links{
                        width: 100%;
                        height: 20%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
    
                    }
    
                        .links a,p{
                            color: var(--neutral-color-grey-600);
                            font-size: 20px;
                            margin-bottom: 10%;
                        }
    
                        .links p{
                            font-family: (--fontFamily-roboto);
                            font-size: 16px!important;
                        }
    
                        .links a:hover{
                            color: var(--primary-color-yellow-900);
                            font-weight: 600;
                         }
                
    
                .socialMedia{
                    width: 100%;
                    height: 10%;
    
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative; 
    
                    gap: 10px;
                    position: absolute;
                    z-index: 3;
    
                    top: 86%;
    
                }
    
                    .socialMedia .socialMediaLogo{
                        height: 50%;
                        opacity: 30%;
                    }
    
                    .socialMedia .socialMediaLogo img{
                        width: 32px;
                    }
    
                    .socialMedia .socialMediaLogo:hover {
                    transform: scale(1.1);
                    opacity: 60%;
                    transition: transform 250ms;
                    }
    
    
        footer .copyright{
            height: 20%;
            width: 100vw;
    
            display: flex;
            justify-content: center;
            align-items:center;
    
            border-top: solid 3px var(--neutral-color-grey-900);
            background-color: var(--neutral-color-grey-800);
    
            color: rgb(225, 225, 225);
        }
    
        .mobileFooter{
            display: none;
            height: 0;
            width: 0;
        }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */






/* Extra large devices (small desktops and larger tablets) */

@media (min-width: 1200px) and (max-width: 1399.98px) {
    footer{
        min-height: 50vh;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        position: relative;
        overflow: hidden;
        }
    
       footer .footerContent{
            height:fit-content;
            width: 100vw;
    
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0;
    
            gap: 2%;
            background-color: var(--neutral-color-grey-100);
    
    
        }
    
            .footerContent .sectionA{
                width: 40vw;
                height: 100%;
    
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                position: relative;
                margin-top: 0;

           }
                
               .sectionA h2{
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 0;
                    margin-left: 10%;
                    color: var(--neutral-color-grey-800);
                }
    
               .sectionA .cardContainer{
                    width: 90%;
                    height: 50vh;
                    
                    perspective: 1000px;

                }
    
                  
               .flipCard {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transform-style: preserve-3d;
                    transition: transform 0.6s ease-in-out;
                  }
                  
                 .flipCard.flipped {
                    transform: rotateY(180deg); 
                  }
                  
                  .locationOfficeDR,
                  .locationOfficePanama {
                    width: 95%;
                    height: 100%;
                    
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
    
                    margin-top: 1vh;
                    backface-visibility: hidden;

    
                  }
                  
                  .locationOfficePanama {
                    transform: rotateY(180deg); 
                  }
    
                  .locationOfficeDR{
                    left: 0%;
                  }
    
                  .officeLocationMaps{
                    width: 60%;
                    margin-left: 0%;
                    margin-top: 0%;
                  }
    
    
                  .mapa{
                    width: 90%;
                    height: 30vh!important;
    
                  }
    
                  .cardContainer p{
                    font-size: 20px!important;
                    margin-left: 4%;
                  }
                  
                    .cardContainer .buttonsFooter{
                        display: flex;
                        position: absolute;
                        width: 100%;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 4%;
                        top: -1vh;
                        left: 0vw;

                    }
    
                        .buttonsFooter button{
                            width: fit-content;
                            height: 40px;
                            position: relative;
                            color: var(--neutral-color-grey-500);
                            font-size: 18px;
                            display: block;
                            border: none;
                            background-color: transparent;
                        }

                        .buttonsFooter button:first-child{
                            width: 20vw!important;
                        }
    
                        .buttonsFooter button.selected span{
                            padding-top: 2px;
                            background-repeat: no-repeat;
                            background-image: linear-gradient(120deg, var(--orange) 0%, var(--darkOrange) 40%);
                            background-size: 100% 0.3em;
                            background-position: 100% 120%;
                            color: var(--neutral-color-grey-600);
                            font-weight: 500;
                
                        }
                
            .section{
                width: 20vw;
                height: 53vh;
    
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0 4px;
                position: relative;

            }
    
                .section .title{
                display: flex;
                align-items: flex-start;
                margin-top: 0px;
    
                margin-bottom: 0;
                margin-top: 10px;
                }
    
                .title h2{
                    margin-bottom: 6%;
                    
                }
    
                    .links{
                        width: 100%;
                        height: 20%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
    
                    }
    
                        .links a,p{
                            color: var(--neutral-color-grey-600);
                            font-size: 20px;
                            margin-bottom: 10%;
                        }
    
                        .links p{
                            font-family: (--fontFamily-roboto);
                            font-size: 16px!important;
                        }
    
                        .links a:hover{
                            color: var(--primary-color-yellow-900);
                            font-weight: 600;
                         }
                
    
                .socialMedia{
                    width: 100%;
                    height: 10%;
    
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative; 
    
                    gap: 10px;
                    position: absolute;
                    z-index: 3;
    
                    top: 86%;
    
                }
    
                    .socialMedia .socialMediaLogo{
                        height: 50%;
                        opacity: 30%;
                    }
    
                    .socialMedia .socialMediaLogo img{
                        width: 32px;
                    }
    
                    .socialMedia .socialMediaLogo:hover {
                    transform: scale(1.1);
                    opacity: 60%;
                    transition: transform 250ms;
                    }
    
    
        footer .copyright{
            height: 20%;
            width: 100vw;
    
            display: flex;
            justify-content: center;
            align-items:center;
    
            border-top: solid 3px var(--neutral-color-grey-900);
            background-color: var(--neutral-color-grey-800);
    
            color: rgb(225, 225, 225);
        }
    
        .mobileFooter{
            display: none;
            height: 0;
            width: 0;
        }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/*++++++ XX-Large devices (large desktops and up) +++++++*/
@media (min-width: 1400px) {
    footer{
        min-height: 50vh;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        position: relative;
        overflow: hidden;
        }
    
       footer .footerContent{
            height:fit-content;
            width: 100vw;
    
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0;
    
            gap: 2%;
            background-color: var(--neutral-color-grey-100);
    
    
        }
    
            .footerContent .sectionA{
                width: 40vw;
                height: 100%;
    
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                position: relative;
                margin-top: 0;

           }
                
               .sectionA h2{
                    font-size: 26px;
                    font-weight: 500;
                    margin-bottom: 0;
                    margin-left: 10%;
                    color: var(--neutral-color-grey-800);
                }
    
               .sectionA .cardContainer{
                    width: 100%;
                    height: 50vh;
                    
                    perspective: 1000px;
                }
    
                  
               .flipCard {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transform-style: preserve-3d;
                    transition: transform 0.6s ease-in-out;
                  }
                  
                 .flipCard.flipped {
                    transform: rotateY(180deg); 
                  }
                  
                  .locationOfficeDR,
                  .locationOfficePanama {
                    width: 95%;
                    height: 90%;
                    
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
    
                    margin-top: 10vh;
                    backface-visibility: hidden;

    
                  }
                  
                  .locationOfficePanama {
                    transform: rotateY(180deg); 
                  }
    
                  .locationOfficeDR{
                    left: 0%;
                  }
    
                  .officeLocationMaps{
                    width: 60%;
                    margin-left: 0%;
                    margin-top: 0%;
                  }
    
    
                  .mapa{
                    width: 80%;
                    height: 30vh!important;
    
                  }
    
                  .cardContainer p{
                    width: 80%;
                    font-size: 20px!important;
                    margin-left: 4%;
                  }
                  
                    .cardContainer .buttonsFooter{
                        display: flex;
                        position: absolute;
                        width: 100%;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 4%;
                        top: 1vh;
                        left: 0vw;

                    }
    
                        .buttonsFooter button{
                            width: fit-content;
                            height: 40px;
                            position: relative;
                            color: var(--neutral-color-grey-500);
                            font-size: 20px;
                            display: block;
                            border: none;
                            background-color: transparent;
                        }

                        .buttonsFooter button:first-child{
                            width: 20vw!important;
                        }
    
                        .buttonsFooter button.selected span{
                            padding-top: 2px;
                            background-repeat: no-repeat;
                            background-image: linear-gradient(120deg, var(--orange) 0%, var(--darkOrange) 40%);
                            background-size: 100% 0.3em;
                            background-position: 100% 120%;
                            color: var(--neutral-color-grey-600);
                            font-weight: 500;
                
                        }
                
            .section{
                width: 20vw;
                height: 58vh;
    
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0 4px;
                position: relative;

            }
    
                .section .title{
                display: flex;
                align-items: flex-start;
                margin-top: 0px;
    
                margin-bottom: 0;
                margin-top: 10px;
                }
    
                .title h2{
                    margin-bottom: 4%;
                    
                }
    
                    .links{
                        width: 100%;
                        height: 20%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
    
                    }
    
                        .links a,p{
                            color: var(--neutral-color-grey-600);
                            font-size: 22px;
                            margin-bottom: 10%;
                        }
    
                        .links p{
                            font-family: (--fontFamily-roboto);
                            font-size: 20px!important;
                        }
    
                        .links a:hover{
                            color: var(--primary-color-yellow-900);
                            font-weight: 600;
                         }
                
    
                .socialMedia{
                    width: 100%;
                    height: 10%;
    
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative; 
    
                    gap: 10px;
                    position: absolute;
                    z-index: 3;
    
                    top: 86%;
    
                }
    
                    .socialMedia .socialMediaLogo{
                        height: 50%;
                        opacity: 30%;
                    }
    
                    .socialMedia .socialMediaLogo img{
                        width: 32px;
                    }
    
                    .socialMedia .socialMediaLogo:hover {
                    transform: scale(1.1);
                    opacity: 60%;
                    transition: transform 250ms;
                    }
    
    
        footer .copyright{
            height: 10%;
            width: 100vw;
    
            display: flex;
            justify-content: center;
            align-items:center;
    
            border-top: solid 3px var(--neutral-color-grey-900);
            background-color: var(--neutral-color-grey-800);
    
            color: rgb(225, 225, 225);
        }
    
        .mobileFooter{
            display: none;
            height: 0;
            width: 0;
        }
}




/* XL DEVICES */
    /* footer{
        width: 100%;
        min-height: 360px;
        display: block;
        overflow: hidden;
        flex-direction: column;
        position: relative;
        background-color: var(--neutral-color-grey-100);
    
    
        .mainContent{
            height: 330px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            gap: 30px;
    
            .sectionA{
                width: 30%;
                height: 100%;
                padding: 6px;
                position: relative;
                
                h2{
                    font-size: 24px;
                    font-weight: 400;
                    color: var(--neutral-color-grey-800);
                    margin-bottom: 10px;
                }
    
                .cardContainer{
                    width: 100%;
                    height: 80%;
                    perspective: 100%;
    
                    .flipCard{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        transform-style: preserve-3d;
                        transform: rotateY(0deg);
                        transition: transform 0.6s;
    
                        .locationOfficeDR{
                            width: 95%;
                            height: 100%;
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            backface-visibility: hidden;
                            bottom: 10px;
        
                            p{
                                width: 85%;
                                color: var(--neutral-color-grey-600);
                                margin-bottom: 10px;
                                font-size: 14px;
                            }
        
                        }
    
                        .officeLocationMaps{
                            width: 100%;
                            position: absolute;
                            top: -2%;
                            z-index: 1;
    
                            img{
                                width: 180px;
                                position: absolute;
                                top: 6%;
                                left: 10%;
                            }
                        }
    
                        .locationOfficePanama{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            backface-visibility: hidden;
                            bottom: 14px;
                            transform: rotateY(180deg);
    
                            p{
                                width: 85%;
                                color: var(--neutral-color-grey-600);
                                font-size: 14px;
                                margin-bottom: 10px;
                            }
    
                        }
    
                    }
                }
    
                .flipCard.flipped{
                    transform: rotateY(180deg);
                }
            }
    
                .buttons{
                    display: flex;
                    position: absolute;
                    width: 80%;
                    justify-content: flex-start;
                    gap: 12px;
                    top: 13%;
    
    
    
                    button{
                        width: fit-content;
                        height: 40px;
                        position: relative;
                        color: var(--neutral-color-grey-500);
                        font-size: 16px;
                        display: block;
                        border: none;
                        background-color: transparent;
                    }

                 
    
    
                    button.selected{
                        span{
                        padding-top: 2px;
                        background-repeat: no-repeat;
                        background-image: linear-gradient(120deg, var(--orange) 0%, var(--darkOrange) 40%);
                        background-size: 100% 0.3em;
                        background-position: 100% 120%;
                        color: var(--neutral-color-grey-600);
                        font-weight: 500;
                        }
                    }
                }
    
            .section{
                width: 20%;
                height: 100%;
                padding: 6px;
                position: relative;
    
                .title{
                    display: flex;
                    align-items: flex-start;
                    margin-top: 10px;

                    margin-bottom: 0;

    
                    h3{
                        font-size: 20px;
                        font-weight: 400;
                        color: var(--neutral-color-grey-800);
                    }
                }
    
                .links{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 8px;

    
                    a,p{
                        color: var(--neutral-color-grey-600);
                    }

                    a:hover{
                        color: var(--primary-color-yellow-900);
                        font-weight: 600;
                    }
                }

                
            }
    
            .socialMedia{
                display: flex;
                width: 100%;
                height: 20%;
                position: absolute;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 10px;
                right: 0;
                bottom:40%;
    
    
                .socialMediaLogo{
                    height: 50%;
                    opacity: 30%;
    
    
                    img{
                        width: 32px;
                    }
                }
    
                .socialMediaLogo:hover {
                    transform: scale(1.1);
                    opacity: 60%;
                    transition: transform 250ms;
    
                };
                
            }
        }
    
    
        .copyright{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 20px;
            border-top: solid 3px var(--neutral-color-grey-900);
            background-color: var(--neutral-color-grey-800);
    
            h6{
                font-size: 12px;
                padding: 0;
                margin: 0;
                color: var(--neutral-color-grey-100);
                font-weight: 600;
            }
        }

        .mobileFooter{
            display:none;
        }
    } */
 

/* L DEVICES */
/* @media only screen and (min-width: 992px) and (max-width: 1200px){
    footer{
        .mainContent{
            gap: 15px;
    
            .sectionA{
                h2{
                    font-size: 20px;
                }
    
                .cardContainer{
                    .flipCard{
                        .locationOfficeDR{
                            width: 100%;
        
                            p{
                                width: 90%;
                            }
                        }
    
                        .officeLocationMaps{
    
                            img{
                                width: 170px;
                                top: 10%;
                            }
                        }
    
                        .locationOfficePanama{
    
                            p{
                                width: 90%;
                            }
                        }
                    }
                }
    
            }
    
                .buttons{
                    button.selected{
                        span{
                        color: var(--neutral-color-grey-700);
                        }
                    }
                }
    
            .section{
                .title{
                    h3{
                        font-size: 18px;
                    }
                }
    
                .links{
                    a:hover{
                        color: var(--primary-color-yellow-900);
                        font-weight: 500;
                    }
                }

                
            }
    
            .socialMedia{
                gap: 12px;
    
                .socialMediaLogo{
                    img{
                        width: 30px;
                    }
                }
                
            }
        }
    
    }
} */


/* M DEVICES */
/* @media only screen and (max-width: 992px) {
    footer{
        .mainContent{
            display: none;

        }
    
        .copyright{
            display: none;
        }

        .mobileFooter{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;


            .socialMedia{
                width: 100%;
                height: 120px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                background-color: var(--neutral-color-grey-800);

                .iconsContainer{
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    gap: 20px;


                    .icon{
                        width: 25px;
                        height: 25px;
                        padding: 5px;
                        border-radius: 50%;
                        background-color: var(--neutral-color-grey-200);
                        transition: 0.1s transform;
                    }

                    .icon:hover{
                        transform: scale(1.1);
                        background-color: var(--neutral-color-grey-100);
                    }
                }
            }

            .end{
                width: 60%;
                display: flex;
                justify-content: center;

                h6{
                    color: var(--neutral-color-grey-200);
                    font-size: 12px;
                }

            }

        }
    }

} */


