/* XL DEVICES */
header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  
    border-top: 4px solid;
    border-image: linear-gradient(to right, var(--primary-color-red-700), var(--primary-color-red-400)) 1 0 0 0;
    box-shadow: 0px 6px 45px #cccccc;
    box-shadow: 0px 1px 4px #d1d1d1;
    margin-bottom: 4em;
    font-family: var(--fontFamily-roboto);
    color: var(--neutral-color-grey-700);
    font-size: 16px;
  }
  
  header .logo {
    width: 110px;
    height: 40px;
    position: relative;
    margin-left: 10px;
  }
  
  header .logo .logo-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
  
  header .navLinks {
    width: 65%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  header .navLinks .navLink {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 2px;
  }
  
  header .navLinks a {
    text-decoration: none;
    color: var(--neutral-color-grey-500);
  }
  
  header .navLinks .navLink:hover {
    color: var(--neutral-color-grey-600);
    transform: scale(1.1);
  }
  
  header .navLinks .navLinkB {
    width: 9%;
    display: flex;
    justify-content: center;
    padding: 2px;
    border-radius: 8px;
  }
  
  header .navLinks .navLinkB .underline--magical {
    padding: 0 6px;
    padding-top: 2px;
    background-repeat: no-repeat;
    background-image: linear-gradient(120deg, var(--primary-color-yellow-300) 0%, var(--primary-color-yellow-200) 100%);
    background-size: 100% 0.4em;
    background-position: 100% 120%;
    transition: background-size 0.25s ease-in;
  }
  
  header .navLinks .navLinkB .underline--magical:hover {
    background-size: 100% 100%;
    border-radius: 6px;
  }
  
  header .mobile-menu {
    display: none;
  }
  





  
  
  /* M DEVICES */
  @media only screen and (max-width: 992px) {
    header {
      font-size: 14px;
    }
  
    /* Hide desktop navLinks */
    header .navLinks {
      display: none;
    }
  
    /* Display mobile menu */
    header .mobile-menu {
      width: 8%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
    }
  
    header .mobile-menu .menuIcon {
      width: 36px;
      margin-right: 10px;
    }
  
    header .mobile-menu .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      right: 10%;
      background-color: var(--neutral-color-grey-100);
      min-width: 760%;
      min-height: 620%;
      flex-direction: column;
      z-index: 1;
      padding: 0;
      margin: 0;
      box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2);
    }
  
    header .mobile-menu .dropdown-menu .linksDropdownMenu {
      width: 100%;
      display: flex;
      gap: 8px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    header .mobile-menu .dropdown-menu .linksDropdownMenu .menuDivision {
      width: 50%;
    }
  
    header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 16px;
      border-radius: 8px;
      padding: 10px 4px;
    }
  
    header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item .mobileNavIcons {
      width: 58px;
      height: 44px;
      border-radius: 50%;
      background-color:  #f9937a2e;
    }
  
    header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item:hover {
      background-color: var(--neutral-color-grey-200);
    }
  
    header .mobile-menu:hover .dropdown-menu {
      display: block;
    }
  }
  
  

  /*++++++++ Extra small devices (phones, portrait) ++++++*/
@media (max-width: 575.98px) and (max-height: 767.98px){
    header .navLinks {
        display: none;
      }
    
      header .mobile-menu .dropdown-menu {
        width: 75vw;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: none;
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu .menuDivision {
        width: 100%;
        height: 50%;
  
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
  
        padding: 0;
        margin: 0;
  
  
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item {
          width: 90%;
          height: fit-content;
  
          display: flex;
          justify-content: flex-start;
          align-items: center;
  
      }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item p:first-child {
         font-weight: 700;
      }

      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item p:nth-child(2) {
        line-height: 3vh;
     }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item .mobileNavIcons {
        width: 7vw;

        padding: 2px 4px;
        border-radius: 20%;
        background-color: transparent;


      }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item .textContent{
          width: 90%;
          height: 6%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: start;
          padding-left: 2vw;
      }
    
      header .mobile-menu .dropdown-menu .socialDropdownMenu {
          width: 100%;
          height: 7vh;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: 1px solid var(--neutral-color-grey-900);
          background-color: var(--neutral-color-grey-1000);
      }
    
      header .mobile-menu .dropdown-menu .socialDropdownMenu .socialMediaLogos {
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
  
      }
  
      header .mobile-menu .dropdown-menu .socialDropdownMenu .socialMediaLogos .socialMediaLogo {
          width: 55%;
          border-radius: 30%;
          background-color: #e7e7ed;
          border: 1px solid var(--neutral-color-grey-900);
  
      }

}

@media (max-width: 575.98px) and (min-height: 768px){
    header .navLinks {
        display: none;
      }
    
      header .mobile-menu .dropdown-menu {
        width: 75vw;
        display:none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: none;
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu .menuDivision {
        width: 100%;
        height: 50%;
  
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
  
        padding: 0;
        margin: 0;
  
  
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item {
          width: 90%;
          height: fit-content;
  
          display: flex;
          justify-content: flex-start;
          align-items: center;


  
      }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item p:first-child {
         font-weight: 700;
  
      }


      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item p:nth-child(2) {
        line-height: 2vh;
     }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item .mobileNavIcons {
        width: 8vw;
        height: 3vh!important;
  
        padding: 2px;
        border-radius: 50%;
        background-color: transparent;
        /* background-color:  #f9937a2e; */
      }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item .textContent{
          width: 90%;
          height: 6%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: start;
          padding-left: 2vw;
      }
    
      header .mobile-menu .dropdown-menu .socialDropdownMenu {
          width: 100%;
          height: 6vh;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: 1px solid var(--neutral-color-grey-900);
          background-color: var(--neutral-color-grey-1000);
      }
    
      header .mobile-menu .dropdown-menu .socialDropdownMenu .socialMediaLogos {
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
  
      }
  
      header .mobile-menu .dropdown-menu .socialDropdownMenu .socialMediaLogos .socialMediaLogo {
          width: 56%;
          border-radius: 10px;
          background-color: #eaeaf3;
          border: 1px solid var(--neutral-color-grey-900);
  
      }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/*++++++++ Small devices (phones, landscape) +++++++++++ */
@media (min-width: 576px) and (max-width: 767.98px) and (min-height: 300px) and (max-height: 575.98px){
    header .navLinks {
        display: none;
      }
    
      header .mobile-menu .dropdown-menu {
        width: 85vw;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: none;
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu .menuDivision {
        width: 100%;
        height: 50%;
  
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
  
        padding: 0;
        margin: 0;
  
  
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item {
          width: 90%;
          height: 18vh;
  
          display: flex;
          justify-content: center;
          align-items:center;
          margin-bottom: 0%;
  
      }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item p:first-child {
         font-weight: 700;
  
      }

      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item p:nth-child(2) {
        line-height: 5vh;
     }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item .mobileNavIcons {
        width: 5vw;
        height: 9vh!important;
  
        padding: 2px 4px;
        border-radius: 50%;
        background-color: transparent;
        /* background-color:  #f9937a2e; */
      }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item .textContent{
          width: 80%;
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          text-align: start;
          padding-left: 1vw;
      }
    
      header .mobile-menu .dropdown-menu .socialDropdownMenu {
          width: 100%;
          height: 18vh;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: 1px solid var(--neutral-color-grey-900);
          background-color: var(--neutral-color-grey-1000);
      }
    
      header .mobile-menu .dropdown-menu .socialDropdownMenu .socialMediaLogos {
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
  
      }
  
      header .mobile-menu .dropdown-menu .socialDropdownMenu .socialMediaLogos .socialMediaLogo {
          width: 28%;
          border-radius: 30%;
          background-color: #eaeaf3;
          border: 1px solid var(--neu);
  
      }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/*++++++++ Medium devices (tablets, portrait) ++++++++++ */
@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 300px) and (max-height: 575.98px) {
    header .navLinks {
        display: none;
      }
    
      header .mobile-menu .dropdown-menu {
        width: 60vw;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: none;
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu .menuDivision {
        width: 50%;
        height: 100%;
  
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
  
        padding: 0;
        margin: 0;
  
  
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item {
          width: 90%;
          height: 18vh;
  
          display: flex;
          justify-content: flex-start;
          align-items:center;
          margin-bottom: 2%;
  
      }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item p:first-child {
         font-weight: 700;
      }

      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item p:nth-child(2) {
        line-height: 5vh;
     }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item .mobileNavIcons {
        width: 4vw;
        height: 8vh!important;
  
        padding: 2px 4px;
        border-radius: 50%;
        background-color: transparent;
        /* background-color :#f9937a2e; */
      }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item .textContent{
          width: 90%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          text-align: start;
          padding-left: 2vw;
      }
    
      header .mobile-menu .dropdown-menu .socialDropdownMenu {
          width: 100%;
          height: 18vh;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: 1px solid var(--neutral-color-grey-900);
          background-color: var(--neutral-color-grey-1000);
      }
    
      header .mobile-menu .dropdown-menu .socialDropdownMenu .socialMediaLogos {
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
  
      }
  
      header .mobile-menu .dropdown-menu .socialDropdownMenu .socialMediaLogos .socialMediaLogo {
          width: 25%;
          border-radius: 30%;
          background-color: #eaeaf3;
          border: 1px solid var(--neutral-color-grey-900);
  
      }
}

@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 576px){
    header .navLinks {
        display: none;
      }
    
      header .mobile-menu .dropdown-menu {
        
        width: 85vw;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: none;
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu .menuDivision {
        width: 50%;
        height: 100%;
  
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
  
        padding: 0;
        margin: 0;
  
  
      }
    
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item {
          width: 90%;
          height: 10vh;
  
          display: flex;
          justify-content: flex-start;
          align-items:center;
          margin-bottom: 2%;

      }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item p:first-child {
         font-weight: 700;
  
      }

      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item p:nth-child(2){
        line-height: 3vh;
 
     }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item .mobileNavIcons {
        width: 5vw;
        height: 4vh!important;
  
        padding: 2px 4px;
        border-radius: 50%;
        background-color: transparent;
        /* background-color:  #f9937a2e; */
      }
  
      header .mobile-menu .dropdown-menu .linksDropdownMenu .dropdown-item .textContent{
          width: 100%;
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: start;
          padding-left: 2vw;
          margin-bottom: 10vh;

      }
    
      header .mobile-menu .dropdown-menu .socialDropdownMenu {
          width: 100%;
          height: 8vh;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: 1px solid var(--neutral-color-grey-900);
          background-color: var(--neutral-color-grey-1000);
      }
    
      header .mobile-menu .dropdown-menu .socialDropdownMenu .socialMediaLogos {
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
  
      }
  
      header .mobile-menu .dropdown-menu .socialDropdownMenu .socialMediaLogos .socialMediaLogo {
          width: 30%;
          border-radius: 30%;
          background-color: #eaeaf3;
          border: 1px solid var(--neutral-color-grey-900);
  
      }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */





/*+++++++++ Large devices (tablets, landscape) ++++++++++*/
@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 600px) and (max-height: 1023.98px){ 
  header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  
    border-top: 4px solid;
    border-image: linear-gradient(to right, var(--primary-color-red-700), var(--primary-color-red-400)) 1 0 0 0;
    box-shadow: 0px 6px 45px #cccccc;
    box-shadow: 0px 1px 4px #d1d1d1;
    margin-bottom: 4em;
    font-family: var(--fontFamily-roboto);
    color: var(--neutral-color-grey-700);
    font-size: 16px;
  }
  
    header .logo {
      width: 110px;
      height: 40px;
      position: relative;
      margin-left: 10px;
    }
  
      header .logo .logo-image {
        width: 100%;
        height: 80%;
        object-fit: cover;
        object-position: center;
        display: block;
      }
  
  header .navLinks {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
    header .navLinks .navLink {
      width: fit-content;
      display: flex;
      justify-content: center;
      padding-top: 2px;
    }
    
      header .navLinks a {
        text-decoration: none;
        color: var(--neutral-color-grey-500);
      }
  
      header .navLinks .navLink:hover {
        color: var(--neutral-color-grey-600);
        transform: scale(1.1);
      }
  
    header .navLinks .navLinkB {
      width: 9%;
      display: flex;
      justify-content: center;
      padding: 2px;
      border-radius: 8px;
    }
  
      header .navLinks .navLinkB .underline--magical {
        padding: 0 6px;
        padding-top: 2px;
        background-repeat: no-repeat;
        background-image: linear-gradient(120deg, var(--primary-color-yellow-300) 0%, var(--primary-color-yellow-200) 100%);
        background-size: 100% 0.4em;
        background-position: 100% 120%;
        transition: background-size 0.25s ease-in;
      }
      
        header .navLinks .navLinkB .underline--magical:hover {
          background-size: 100% 100%;
          border-radius: 6px;
        }
  
  header .mobile-menu {
    display: none;
  }
  
}
@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 1024px){ 
  header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  
    border-top: 4px solid;
    border-image: linear-gradient(to right, var(--primary-color-red-700), var(--primary-color-red-400)) 1 0 0 0;
    box-shadow: 0px 6px 45px #cccccc;
    box-shadow: 0px 1px 4px #d1d1d1;
    margin-bottom: 4em;
    font-family: var(--fontFamily-roboto);
    color: var(--neutral-color-grey-700);
    font-size: 16px;
  }
  
    header .logo {
      width: 110px;
      height: 40px;
      position: relative;
      margin-left: 10px;
    }
  
      header .logo .logo-image {
        width: 100%;
        height: 80%;
        object-fit: cover;
        object-position: center;
        display: block;
      }
  
  header .navLinks {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
    header .navLinks .navLink {
      width: fit-content;
      display: flex;
      justify-content: center;
      padding-top: 2px;
    }
    
      header .navLinks a {
        text-decoration: none;
        color: var(--neutral-color-grey-500);
      }
  
      header .navLinks .navLink:hover {
        color: var(--neutral-color-grey-600);
        transform: scale(1.1);
      }
  
    header .navLinks .navLinkB {
      width: 9%;
      display: flex;
      justify-content: center;
      padding: 2px;
      border-radius: 8px;
    }
  
      header .navLinks .navLinkB .underline--magical {
        padding: 0 6px;
        padding-top: 2px;
        background-repeat: no-repeat;
        background-image: linear-gradient(120deg, var(--primary-color-yellow-300) 0%, var(--primary-color-yellow-200) 100%);
        background-size: 100% 0.4em;
        background-position: 100% 120%;
        transition: background-size 0.25s ease-in;
      }
      
        header .navLinks .navLinkB .underline--magical:hover {
          background-size: 100% 100%;
          border-radius: 6px;
        }
  
  header .mobile-menu {
    display: none;
  }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */





