
/*++++++++ Default size ++++++*/
.mainContentLotenet{
    width: 100vw;
    min-height: fit-content;
    position: relative;
    overflow: hidden;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin-bottom: 10vh;

}
    .mainContentLotenet .bannerSystemLotenet{
    /* background image properties */
    background-position:right bottom;
    background-size: auto 55%;

    /* div properties */
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    position: absolute;
    top: 0;
    z-index: 1;


    }

    .mainContentLotenet .bannerContentSystem{
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        z-index: 2;

        position: relative;

    }

        .bannerContentSystem .textContentSystem{
            height: 80vh;
            width: 90%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 8%;


        }

        .textContentSystem .mainTitleLotenet{
            width: 100%;
            height: 16%;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            align-items: flex-start;
            margin: 0;
            padding-left:5% ;

        }

            .mainTitleLotenet h1{
                margin: 0;
            }

            .mainTitleLotenet p{
                margin: 0;
            }

    .bannerPromotion{
        width: 90%;
        height: 20%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10%;
        padding-left: 5%;

    }

    .bannerPromotion h4, button{
        margin: 0;
    }

    .bannerPromotion button{
        width: 75%;
    }

    .features{
        width: 100%;
        height: 30%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        padding-left: 5%;
        gap: 20%;


    }

        .features .feature1{
            width: 100%;

            display: flex;
            flex-direction: column;

            margin: 0;

        }

            .feature1 h3,p{
                margin: 0;
            }

            .feature1 h3{
                font-weight: 600;
            }

    .bannerContentSystem .GraphicContentSystem{
    width: 95%;
    height: 30vh;

    display: flex;

    /* background image properties */
    background-position:top;
    background-size: auto 80%;


    }

/*++++++++ Extra small devices (phones, portrait) ++++++*/


@media (max-width: 575.98px) and (min-height: 768px){ 

            .bannerContentSystem .textContentSystem{
                gap: 6%;
            }

            .mainTitleLotenet p{
                width: 85%;
            }

        .bannerPromotion button{
            width: 80%;
        }

        .features{
            height: 25%;

            justify-content: flex-start;
            align-items: flex-start;

        }
                .feature1 h3{
                    font-weight: 600;
                }


}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/*++++++++ Small devices (phones, landscape) +++++++++++ */
  @media (min-width: 576px) and (max-width: 767.98px) and (min-height: 300px) and (max-height: 575.98px){ 
    .mainContentLotenet{
        min-height: 120vh;

    }

        .mainContentLotenet .bannerSystemLotenet{
            /* background image properties */
            background-size: auto 100%;

        }
    
        .mainContentLotenet .bannerContentSystem{
            flex-direction: row;
            margin-top: 6vh;
            align-items: center;

        }
    
            .bannerContentSystem .textContentSystem{
                height: auto;
                width: 100%;

                justify-content: flex-end;
                align-items: flex-start;


            }
    
            .textContentSystem .mainTitleLotenet{
                height: auto;

                padding-left:8% ;
                margin-bottom: 8%;

            }

                .mainTitleLotenet h1{
                    width: 70%;
                }
  

        .bannerPromotion{
            padding-left: 8%;
            margin-bottom: 6%;
        }

        .bannerPromotion button{
            width: 80%;
            margin-top: 20px;
        }
    

        .features{
            height: 35%;

            justify-content: flex-start;
            align-items:flex-end;

            padding-left: 8%;
            margin-top: 6%;
            


        }

                .feature1 h3{
                    font-weight: 600;
                }

                .subFeature{
                    width: 100%;
                    margin-bottom: 4vh;
                }
    
    
        .bannerContentSystem .GraphicContentSystem{
        min-height: 140vh;

        /* background image properties */
        background-size: 90% auto;

        }

  }
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  


/*++++++++ Medium devices (tablets, portrait) ++++++++++ */
@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 300px) and (max-height: 575.98px) { 
.mainContentLotenet{
    min-height: 140vh;
    
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}
    .mainContentLotenet .bannerSystemLotenet{
    /* background image properties */
    background-size:  100% auto;

    /* div properties */
    min-height: 140vh;

    z-index: 1;

    }

    .mainContentLotenet .bannerContentSystem{
        min-height: 140vh;

        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

    }

        .bannerContentSystem .textContentSystem{
            height: 140vh;
            width: 100%;

            justify-content: flex-start;
            gap:2%;

        }

        .textContentSystem .mainTitleLotenet{
            width: 95%;
            height: 40%;
            gap: 2%;
            padding-left:8% ;

        }

        .mainTitleLotenet p{
            width: 95%;
        }

    .bannerPromotion{
        width: 95%;
        height: 30%;

        padding-left: 8%;

    }

        .bannerPromotion button{
            width: 70%;
            height: 8vh;
            padding: 0;
        }


    .features{
        height: 25%;

        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8%;
        margin: 0;



    }

        .features .feature1{
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

            .feature1 h3{
                font-weight: 600;
            }



    .bannerContentSystem .GraphicContentSystem{
    width: 90%;
    min-height: 110vh;

    /* background image properties */
    background-position:top right;
    background-size: 70% auto;


    }

}

@media (min-width: 768px) and (max-width: 991.98px) and (min-height: 576px){ 
.mainContentLotenet{
    min-height: 120vh;

}
    .mainContentLotenet .bannerSystemLotenet{
    /* background image properties */
    background-position:right bottom;
    background-size: auto 60%;

    }

    .mainContentLotenet .bannerContentSystem{
        min-height: 120vh;
    }

        .bannerContentSystem .textContentSystem{
            height: 60vh;
            width: 100%;

            justify-content: flex-end;
            align-items: flex-start;
            gap: 12%;
    
        }


    .bannerPromotion button{
        width: 60%;
        margin-top: 10px;
    }


    .features{
        height: 25%;

        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4%;


    }

        .features .feature1{
            width: 40%;


        }

            .feature1 p{
                width: 100%;
            }


    .bannerContentSystem .GraphicContentSystem{
    min-height: 60vh;

    /* background image properties */
    background-position:center;
    background-size: auto 90%;


    }

}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/*+++++++++ Large devices (tablets, landscape) ++++++++++*/
@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 600px) and (max-height: 1023.98px){ 
.mainContentLotenet{
    min-height: 100vh;
    
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}
    .mainContentLotenet .bannerSystemLotenet{
    /* background image properties */
    background-size: 100% auto ;
    background-position: top right;

    /* div properties */
    min-height: 140vh;

    z-index: 1;

    }

    .mainContentLotenet .bannerContentSystem{
        min-height: 100vh;

        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

    }

        .bannerContentSystem .textContentSystem{
            width: 100%;
            justify-content: flex-start;
            gap: 4%;

        }

        .textContentSystem .mainTitleLotenet{
            width: 95%;
            height: 40%;

            align-items: center;
            gap: 2%;
            padding-left:0% ;
            margin-bottom: 0;

        }

        .mainTitleLotenet h1{
            width: 70%;
        }

        .mainTitleLotenet p{
            width: 70%;
            margin-bottom: 0;
        }


    .bannerPromotion{
        width: 95%;
        height: 25%;

        padding-left: 14%;

    }

        .bannerPromotion h4, button{
            margin: 0;
        }


        .bannerPromotion button{
            width: 60%;
            height: 5vh;
            padding: 0;
        }


    .features{
        height: 25%;

        flex-direction: row;
        justify-content: flex-start;
        align-items:flex-start;

        padding-left: 14%;
        margin: 0;
        gap: 4%;

    }

        .features .feature1{
            justify-content: center;

        }

            .feature1 h3{
                font-weight: 600;
            }

            .feature1 p{
                width: 100%;
            }


    .bannerContentSystem .GraphicContentSystem{
    width: 90%;
    min-height: 90vh;

    display: flex;


    /* background image properties */
    background-position:top right;
    background-size: auto 80%;


    }

}

@media (min-width: 992px) and (max-width: 1199.98px) and (min-height: 1024px){ 
    .mainContentLotenet{
        min-height: 140vh;

        justify-content: flex-start;
        align-items: flex-start;
    
    }
        .mainContentLotenet .bannerSystemLotenet{
        /* div properties */
        min-height: 140vh;


        z-index: 1;
    
        }
    
        .mainContentLotenet .bannerContentSystem{
            min-height: 120vh;
    
            justify-content: flex-start;
            align-items: flex-start;
            z-index: 2;
    
        }
    
            .bannerContentSystem .textContentSystem{
                height: 75vh;
                width: 100vw;
    
                justify-content: flex-start;
                gap: 2%;
    
            }
    
            .textContentSystem .mainTitleLotenet{
                width: 95%;
                height: 30%;
    
                gap: 4%;
                padding-left:12% ;
                margin-bottom: 0;
    
            }
    
            .mainTitleLotenet h1{
                width: 70%;
                margin-bottom: 0;
            }
    
            .mainTitleLotenet p{
                width: 95%;
                margin-bottom: 0;
            }
    
    
        .bannerPromotion{
            width: 95%;
            height: 25%;
    
            gap: 8%;
            padding-left: 12%;
    
        }
    
            .bannerPromotion button{
                width: 70%;
                height: 5vh;
                border-radius: 40px;
                padding: 0;
            }
    
    
        .features{
            height: 25%;
    
            flex-direction: row;
            justify-content: flex-start;
            align-items:center;
    
            padding-left: 12%;
            margin-top: 6%;
            margin: 0;
            gap: 0;
    
        }
    
            .features .feature1{
                justify-content: center;
    
            }
    
                .feature1 p{
                    width: 100%;
                }
    
    
        .bannerContentSystem .GraphicContentSystem{
            width: 90%;
            min-height: 90vh;
        
            margin-left: 5%;
        
        
            /* background image properties */
            background-position:top center;
    
        }
    
    }
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */


  
/* Extra large devices (small desktops and larger tablets) */

@media (min-width: 1200px) and (max-width: 1399.98px) { 
    
    .mainContentLotenet{
        min-height: 110vh;
        
        justify-content: flex-start;
    }
        .mainContentLotenet .bannerSystemLotenet{
            /* background image properties */
            background-position:right top;
            background-size: 100% auto;
        
            /* div properties */
            min-height: 80%;
        
        }
    
        .mainContentLotenet .bannerContentSystem{
            min-height: 110vh;
    
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
    
        }
    
            .bannerContentSystem .textContentSystem{
                height: 100vh;
                width: 100%;
    
                justify-content: flex-end;
                gap: 0%;
    
            }
    
            .textContentSystem .mainTitleLotenet{
                width: 95%;
                height: 35%;
    
                gap: 2%;
                padding-left:10% ;

    
            }
    
            .mainTitleLotenet h1{
                width: 75%;
                margin-bottom: 0;
            }
    
            .mainTitleLotenet p{
                width: 100%;
                margin-bottom: 0;
            }
    
    
        .bannerPromotion{
            width: 95%;
    
            gap: 0%;
            padding-left: 10%;
            margin-top: 4%;

        }
    
            .bannerPromotion button{
                width: 65%;
                padding: 6px;
                margin-top: 3vh;

    
            }
    
        .features{
            height: 25%;
    
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
    
            padding-left: 10%;
            margin-top: 10%;
    
        }
    
            .features .feature1{
                justify-content: center;
    
            }
    
                .feature1 h3{
                    font-weight: 600;
                }
    
                .feature1 p{
                    width: 100%;
                }
    
    
        .bannerContentSystem .GraphicContentSystem{
        width: 90%;
        min-height: 90vh;
    
        display: flex;
    
    
        /* background image properties */
        background-position:top ;
        background-size: auto 75%;
    
    
        }
    
    
    
    }
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/*++++++ XX-Large devices (large desktops and up) +++++++*/
@media (min-width: 1400px) { 

    .mainContentLotenet{
        min-height: 140vh;    
        justify-content: flex-start;

    }
        .mainContentLotenet .bannerSystemLotenet{
        /* background image properties */
        background-position:right top;
        background-size: 100% auto;
    
        /* div properties */
        min-height: 80%;
        margin-top: 0;
    
        }
    
        .mainContentLotenet .bannerContentSystem{
            min-height: 110vh;
    
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
    
        }
    
            .bannerContentSystem .textContentSystem{
                height: 100vh;
                width: 100%;
    
                justify-content: flex-end;
                gap: 2%;
            }
    
            .textContentSystem .mainTitleLotenet{
                width: 95%;
                height: 40%;
    
                gap: 2%;
                padding-left:10% ;
            }
    
            .mainTitleLotenet h1{
                width: 100%;
                margin-bottom: 0;
            }
    
            .mainTitleLotenet p{
                width: 100%;
                margin-bottom: 0;
            }
    
    
        .bannerPromotion{
            width: 95%;
            height: 20%;
    
            gap: 0%;
            padding-left: 10%;
            margin-top: 4%;
    
        }
    
    
            .bannerPromotion button{
                padding: 6px;
                height: 8vh;
                border-radius: 30px;
                margin: 0;
                margin-top: 3vh;
    
            }
    
    
        .features{
            height: 25%;
    
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
    
            gap: 1%;
            padding-left: 10%;
            margin-top: 10%;
    
        }
    
            .features .feature1{
                justify-content: center;
    
            }
    
                .feature1 h3{
                    font-weight: 600;
                }
    
                .feature1 p{
                    width: 100%;
                }
    
    
        .bannerContentSystem .GraphicContentSystem{
        width: 90%;
        min-height: 120vh;

        margin-top: 4vh;
    
        /* background image properties */
        background-position:top ;
        background-size: 70% auto!important;
    
    
        }

}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */